<#include "layouts/header.html">

<section id="banner-classes">
    <div class="banner-img-classes">
        <img src="img/AULAS-3.jpg" alt="pessoas malhando">
    </div>

    <div class="banner-text-classes">
        <h1>Nossas Aulas</h1>

    </div>

</section> <!-- Fim banner contact -->

<section id="our-classes">
    <div class="container d-flex classes-content">
        <div class="row">
            <div class="classes-text no-side-border-xs w-100">
                <h1 class="text-center">A Academia Completa</h1>
                <p class="text-center">Nossa academia oferece uma ampla variedade de aulas e programas de treinamento, para ajudar você a alcançar seus objetivos de fitness e bem-estar. Na Energy Fitness, você nunca enjoa do treino porque ele pode ser diferente todos os dias. Temos modalidades como Jump, Crossfit, Dança e Pilates: São várias coletivas para você experimentar e nem pensar em desanimar.</p>
            </div> <!-- Fim classes-text -->

        </div> <!--fim container-->
    </div> <!--fim row-->

    <div class="container text-center">
        <div class="row align-items-center cards-grid">
            <div class="col">

                <div class="card" style="width: 18rem;">
                    <img src="img/JUMP.jpg" class="card-img-top" alt="Jump">
                    <div class="card-body">
                        <h5 class="card-title">Jump</h5>
                        <p class="card-text">Aula de Jump para queimar calorias e se divertir!</p>
                    </div>
                </div>

            </div> <!-- Fim col 1 -->


            <div class="col">

                <div class="card" style="width: 18rem;">
                    <img src="img/SPINNING.jpg" class="card-img-top" alt="Spinning">
                    <div class="card-body">
                        <h5 class="card-title">Spinning</h5>
                        <p class="card-text">Aula de Spinning para queimar calorias e se divertir!</p>
                    </div>
                </div>

            </div> <!-- Fim col 2 -->


            <div class="col">

                <div class="card" style="width: 18rem;">
                    <img src="img/PILATES.jpg" class="card-img-top" alt="Pilates">
                    <div class="card-body">
                        <h5 class="card-title">Pilates</h5>
                        <p class="card-text">Aula de Pilates para fortalecer o corpo e melhorar a flexibilidade!</p>
                    </div>
                </div>

            </div> <!-- Fim col 3 -->
        </div>
    </div>

</section> <!-- Fim our-classes -->




<#include "layouts/footer.html">