<#include "layouts/header.html">

<section id="banner-contact">
    <div class="banner-img-contact">
        <img src="img/CONTATO-1.jpg" alt="pessoas malhando">
    </div>

    <div class="banner-text-contact">
        <h1>Contato</h1>

    </div>

</section> <!-- Fim banner contact -->

<section id="contact-container">
    <div class="container contact-content">
        <div class="contact-box" role="region" aria-label="Caixa de contato">
            <h4 class="text-center">Fale com a gente pelo o whatsapp</h4>
            <button type="button" class="banner-btn-contact justify-content-center" aria-label="Iniciar conversa pelo WhatsApp" onclick="location.href='https://www.whatsapp.com/'">
                <i class="bi bi-whatsapp" aria-hidden="true"></i>
                Iniciar conversa
            </button>
            <p class="text-center">Se preferir, envie um e-mail: EnergyFitness@gmail.com</p>
        </div>
    </div>
</section>


<#include "layouts/footer.html">