<#include "layouts/header.html">

<section class="privacidade container mt-5 pt-4">
    <h1 class="privacidade-title mt-5 pt-4">Política de Privacidade</h1>
    <h4>Energy Fitness</h4>
    <h4>Última Atualização: 17 de Outubro de 2025</h4>
    <p class="privacidade-text">
        Na Energy Fitness, tem o compromisso de proteger a sua privacidade e os seus dados pessoais. Esta Política de Privacidade explica como coletamos, usamos, armazenamos e protegemos suas informações quando você utiliza nosso site, em conformidade com a Lei Geral de Proteção de Dados Pessoais (Lei nº 13.709/2018 – LGPD).</p>

    <h2 class="privacidade-title mt-5 pt-4">Usamos Cookies</h2>
    <p class="privacidade-text">
        Na Energy Fitness, Utilizamos cookies para melhorar a sua experiência de navegação, personalizar conteúdos e analisar o nosso tráfego.</p>
</section>



<#include "layouts/footer.html">